@import "tailwindcss";

@theme {
    --color-can-nou-primary: #C4622D;
    --color-can-nou-secondary: #E8955A;
    --color-can-nou-accent: #F2C680;
    --color-can-nou-dark: #292524;
    --color-can-nou-light: #fafaf9;
    --font-baskerville: 'Libre Baskerville', serif;
    --font-nothing: var(--font-nothing);
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@keyframes progress {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

.animate-progress {
    animation: progress linear forwards;
}